*{
    margin: 0;
    padding: 0;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10vh;
}
header nav h2{
    margin: 1vh 20vw 0vh 1vw;
    color: white;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 1vh 20vw 0vh 0vw;
    justify-self: center;
   
}
header nav ul li{
    margin: 0vh 0vw 0vh 4vw;
    
}
header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
header nav ul li a:hover{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}
header nav input{
    border: 2px solid yellow;
    border-radius: 5px;
    height: 4vh;
    width: 15vw;
    margin-right: 1vw;
}
header nav button{
    border: 2px solid yellow;
    border-radius: 5px;
    height: 4.5vh;
    width: 5vw;
}
main{
    min-height: calc(100vh - 10vh - 5vh);
}
footer{
    background: black;
    color: white;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}