*{
    margin: 0;
    padding: 0;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10vh;
}
header nav h2{
    margin: 1vh 18vw 0vh 1vw;
    color: white;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 1vh 18vw 0vh 0vw;
    justify-self: center;
   
}
header nav ul li{
    margin: 0vh 0vw 0vh 4vw;
    
}
header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: large;
}

header nav input{
    border: 2px solid yellow;
    border-radius: 5px;
    height: 4vh;
    width: 15vw;
    margin-right: 1vw;
}
header nav input:hover{
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: black;
    color: yellow;
    height: 4vh;
    width: 15vw;
    margin-right: 1vw;
}
header nav button{
    border: 2px solid yellow;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    height: 4.5vh;
    width: 5vw;
}
header nav button:hover{
    border: 2px solid yellow;
    background-color: black;
    color: yellow;
    border-radius: 5px;
    height: 4.5vh;
    width: 5vw;
}
main{
    min-height: calc(100vh - 10vh - 5vh);
}
main .wallet{
    display: flex;
    flex-direction: column;
    margin: 4vh 0vw 0vh 4vw;
    
    width: 7vw;
    padding: 8px;
}
main .wallet h2{
    margin-top: 1vh;
}
main .wallet h4{
    margin-top: 1vh;
}
main .icons{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
main .icons ul{
    display: flex;
    flex-direction: row;
   margin: 5vh 0vw 0vh 4vw;
    
}
main .icons ul li{
    margin: 0vh 5vw 0vh 0vw;
    list-style: none;
}
main .icons ul li a{
   text-decoration: none;
   color: black;
   font-size: large;
}
main .charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .charts ul{
    display: flex;
    flex-direction: row;
   margin: 5vh 0vw 0vh 4vw;
   padding: 5px;
}
main .charts ul li{
    margin: 0vh 3vw 0vh 0vw;
    list-style: none;
    font-size: x-large;
    padding: 5px;
}
.cash{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 20px;
    height: 70vh;
    width: 60vh;
    margin: auto;
    margin-top: 12vh;
    background-color: black;
}
.cash select{
    width: 50vh;
    height: 5vh;
    background-color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    color: black;
}
.cash select:hover{
    width: 50vh;
    height: 5vh;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 5px;
    color: yellow;
}
.cash input{
    width: 50vh;
    height: 4.3vh;
    background-color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    color: black;
}
.cash input:hover{
    width: 50vh;
    height: 4.3vh;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 5px;
    color: yellow;
}
.cash button{
    width: 50vh;
    height: 5vh;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
    color: black;
}
.cash button:hover{
    width: 50vh;
    height: 5vh;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 5px;
    color: yellow;
}

.login {
    height: 70vh;
    width: 25vw;
    border: 4px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-direction: column;
    align-items: center;
    outline: 2px solid rgb(242, 255, 0);
    text-align: center;
    margin-top: 5vh
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top h2 {
    margin: 1vh 0vw 3vh 0vw;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding: 0.5vh 0.5vw;
}

.login h4 {
    margin: 1vh 10.5vw 1vh 0vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.login input {
    width: 22vw;
    height: 5vh;
    border-radius: 4px;
    margin: 1vh 0vw;
}

.login input:hover {
    width: 22vw;
    height: 5vh;
    border-radius: 4px;
    margin: 1vh 0vw;
    border: 1px solid rgb(242, 255, 0);
    color: rgb(242, 255, 0);
    background-color: black;
}

.login button {
    width: 22vw;
    height: 5vh;
    border-radius: 6px;
    margin: 2vh 0vw;
    background-color: rgb(242, 255, 0);
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
}

.login button:hover {
    width: 22vw;
    height: 5vh;
    border-radius: 6px;
    margin: 2vh 0vw;
    color: rgb(242, 255, 0);
    border: 2px solid black;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

.login p {
    margin: 1vh 0vw;
    font-family: 'Inter', sans-serif;
}

.login hr {
    width: 20vw;
    margin: 2vh 0vw;
}
.signup {
    height: 90vh;
    width: 25vw;
    border: 4px solid black;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    outline: 2px solid rgb(242, 255, 0);
}

.signup-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-top h2 {
    margin: 1vh 0vw 3vh 0vw;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding: 0.5vh 0.5vw;
}

.signup h4 {
    margin: 1vh 10.5vw 1vh 0vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-right: 13.5vw;
}

.signup input {
    width: 22vw;
    height: 5vh;
    border-radius: 4px;
    margin: 1vh 0vw;
}

.signup input:hover {
    width: 22vw;
    height: 5vh;
    border-radius: 4px;
    margin: 1vh 0vw;
    border: 1px solid rgb(242, 255, 0);
    color: rgb(242, 255, 0);
    background-color: black;
}

.signup button {
    width: 22vw;
    height: 5vh;
    border-radius: 6px;
    margin: 2vh 0vw;
    background-color: rgb(242, 255, 0);
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
}

.signup button:hover {
    width: 22vw;
    height: 5vh;
    border-radius: 6px;
    margin: 2vh 0vw;
    color: rgb(242, 255, 0);
    border: 2px solid black;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

.signup p {
    margin: 1vh 0vw;
    font-family: 'Inter', sans-serif;
}

.signup hr {
    width: 20vw;
    margin: 2vh 0vw;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 160vh;
    border: 2px solid black;
    margin: auto;
}
.content-deposit-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 100vh;
    border: 2px solid black;
    margin: auto;
}
.content-q-and-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 110vh;
    border: 2px solid black;
    margin: auto;
}
.withdraw-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    height: 100vh;
    width: 98vw;
}
.withdraw-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 90vw;
}
.withdraw-coin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    height: 70vh;
    width: 40vw;
    background-color: yellow;
}
.withdraw-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    border-radius: 30px;
    height: 70vh;
    width: 40vw;
    margin-left: 2vw;
    background-color: black;
}
.withdraw-details small{
    border: 2px solid yellow;
    padding: 3px;
}
.withdraw-details input{
    border: 2px solid yellow;
    border-radius: 5px;
    height: 4.5vh;
    width: 20vw;
}
.withdraw-details input:hover{
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 4.5vh;
    width: 20vw;
}
.withdraw-details button{
    border: 2px solid white;
    border-radius: 5px;
    height: 5vh;
    width: 10vw;
    background-color: yellow;
    color: black;
}
.withdraw-details button:hover{
    border: 2px solid yellow;
    border-radius: 5px;
    height: 5vh;
    width: 10vw;
    background-color: black;
    color: yellow;
}
.withdraw-details2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
}
.withdraw-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.withdraw-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    background: black;
    color: white;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}